.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/slick-carousel/slick/slick-theme.scss';
@import './old';

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Bold.woff");
  font-weight: 700;
}

body {
  overflow-x: hidden;
  color: #ffffff;
  font-family: "TT Norms", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

a:hover {
  text-decoration: none;
}

.n-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 87px;
  height: 100vh;
  padding: 68px 15px;
  overflow-x: auto;
  z-index: 9;
  background: #1e1e1e;

  &__double {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  &__toggle {
    display: inline-block;
    margin-top: 40px;
    padding: 8px;

    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__logo {
    display: inline-block;

    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__social {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 15px;
        opacity: 0.5;

        img,
        svg {
          max-width: 100%;
          max-height: 100%;
        }

        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }
}

.n-nav {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 550px;
  height: 100vh;
  padding: 50px 150px 20px 170px;
  overflow-x: auto;
  background: #181818;
  transition: all 0.4s ease-out;
  z-index: 8;
  &_active {
    width: 100%;
    right: auto;
    left: 0;
  }

  &__links {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;

      &:nth-child(3n) {
        a {
          position: relative;
          margin-bottom: 40px;

          &:after {
            display: block;
            position: absolute;
            content: '';
            left: 0;
            bottom: -24px;
            width: 100%;
            height: 1px;
            background-color: #585858;
            z-index: 1;
          }
        }
      }

      a {
        display: block;
        padding: 12px 0;
        color: rgba(255, 255, 255, 0.5);
        font-family: "TT Norms";
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: rgba(255, 255, 255, 1);
          text-decoration: none;
        }
      }
    }
  }

  &__hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 25px 0;
    background-color: #585858;
  }
}

.n-home {
  display: block;
  width: 100%;
  background: #181818;

  &-title {
    display: block;
    width: 100%;
    padding: 60px 0;
    background: #181818;

    &__this {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 39px;
      font-weight: 700;
    }
  }
}

.n-home-card {
  display: block;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 150px 0;
    background: rgba(0, 0, 0, 0.3);
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 385px;
    margin: 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 39px;
    font-weight: 700;
    line-height: 1.2;
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 50px 0 0 0;
    padding: 20px 44px;
    background-color: #ffffff;
    color: #b47f63;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    z-index: 1;


    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: #b47f63;
      text-decoration: none;
    }
  }
}

.n-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 75px 0;
  background: #181818;
  color: #ffffff;

  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 36px;
    font-weight: 500;
  }

  b,
  strong {
    font-weight: 500;
  }

  ul {
    display: block;
    position: relative;
    margin: 14px 0 14px 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;

    li {
      display: block;
      position: relative;
      margin-bottom: 6px;
      padding-left: 30px;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        left: 15px;
        top: 0;
        color: #ffffff;
        font-family: "TT Norms";
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  a {
    color: #b47f63;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #b47f63;
      text-decoration: none;
    }
  }

  p {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.65;
  }
}

.n-home-about {
  display: block;
  position: relative;
  width: 100%;
  background: #181818 url('../images/home_about_bg.jpg') no-repeat center center;
  background-size: cover;
  color: #ffffff;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px;

    b,
    strong {
      font-weight: 500;
    }

    ul {
      display: block;
      position: relative;
      margin: 14px 0 14px 0;
      padding: 0;
      list-style: none;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;

      li {
        display: block;
        position: relative;
        margin-bottom: 6px;
        padding-left: 30px;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: 15px;
          top: 0;
          color: #ffffff;
          font-family: "TT Norms";
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    a {
      color: #b47f63;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #b47f63;
        text-decoration: none;
      }
    }

    p {
      display: block;
      margin: 0 0 20px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.65;
    }
  }

  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 36px;
    font-weight: 500;
  }
}

.n-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 60px 0;
  background: #181818;

  &__subtitle {
    display: block;
    margin: 0 0 42px 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
  }

  &__content {
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;

    p {
      display: block;
      width: 100%;
      margin: 0 0 11px 0;
    }

    a {
      display: block;
      margin: 0 0 11px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
      }
    }
  }

  &__hr {
    display: block;
    width: 100%;
    margin: 60px 0;
    height: 1px;
    border: 1px solid #979797;
    opacity: 0.5;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__info {
    display: inline-block;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
  }

  &__policy {
    display: inline-block;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.n-school-steps {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 90px 0;
  background: #181818;

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 355px;
    margin-bottom: 30px;

    &-number {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      margin-bottom: 30px;
      padding: 4px;
      border: 1px solid rgba(180, 127, 99, 0.6);
      border-radius: 999rem;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 13px;
      font-weight: 400;
      text-align: center;
    }

    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 18px;
      font-weight: 400;
      line-height: 1.65;
    }
  }
}

.n-school__close {
  display: flex;
  align-items: center;
  position: absolute;
  right: 60px;
  top: 70px;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
  z-index: 1;

  img {
    display: inline-block;
    max-width: 32px;
    max-height: 32px;
    margin-left: 15px;
  }

  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.7;
    text-decoration: none;
  }
}

.n-school__form {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 625px;
  top: 0;
  left: 0;
  overflow-x: auto;
  padding: 70px 65px 45px 65px;
  background: rgba(0, 0, 0, 0.3);

  &-this {
    display: block;
    position: relative;
    width: 100%;
    max-width: 250px;
    margin-top: 80px;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5);
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.5);
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
  }

  input {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    padding: 13px 0;
    border: 0;
    border-bottom: 1px solid #303030;
    outline: none;
    background: transparent;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-out;

    &:focus {
      border-color: #ffffff;

      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #ffffff;
      }

      ::-moz-placeholder {
        /* Firefox 19+ */
        color: #ffffff;
      }

      :-ms-input-placeholder {
        /* IE 10+ */
        color: #ffffff;
      }

      :-moz-placeholder {
        /* Firefox 18- */
        color: #ffffff;
      }
    }
  }

  textarea {
    display: block;
    width: 100%;
    padding: 13px 0;
    border: 0;
    border-bottom: 1px solid #303030;
    outline: none;
    background: transparent;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-out;

    &:focus {
      border-color: #ffffff;
    }
  }

  &-button {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 165px;
    margin: 60px 0 0 0;
    padding: 24px 27px;
    border: 1px solid #b47f63;
    outline: none;
    background: transparent;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    z-index: 1;

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #ffffff;
      background: #b47f63;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.n-school__info {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 625px;
  top: 0;
  left: 0;
  overflow-x: auto;
  padding: 70px 65px 45px 65px;
  background: rgba(0, 0, 0, 0.3);

  &-title {
    display: block;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 36px;
    font-weight: 500;
  }

  &-subtitle {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 18px;
    font-weight: 500;
  }

  ul {
    display: block;
    position: relative;
    margin: 14px 0 14px 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;

    li {
      display: block;
      position: relative;
      margin-bottom: 6px;
      padding-left: 10px;

      &:before {
        display: block;
        position: absolute;
        content: '-';
        left: 0;
        top: 0;
        color: #ffffff;
        font-family: "TT Norms";
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

.n-school-info {
  display: block;
  position: relative;
  width: 100%;
  padding: 105px 0 110px 0;
  background: #e4e4e6;
  color: #1e1e1e;
  font-family: "TT Norms";
  font-size: 24px;
  font-weight: 500;

  &__content {
    display: block;
    margin: 0;
    line-height: 1.8;
  }
}

.n-teacher {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 130px 0;
  background: #181818;

  .swiper-pagination {
    bottom: 42%;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 12px;
    font-weight: 400;
    pointer-events: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 5px;
    height: 8px;
    padding: 20px;
  }

  .swiper-button-prev {
    background: url('../images/icon_carousel_prev_small.svg') no-repeat center center;
  }

  .swiper-button-next {
    background: url('../images/icon_carousel_next_small.svg') no-repeat center center;
  }

  &__title {
    display: block;
    margin: 0 0 68px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 36px;
    font-weight: 500;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 280px;
      min-height: 65px;
      padding: 20px;
      background-color: #0e0e0e;
    }

    &-image {
      display: block;
      width: 100%;
      max-width: 280px;
      height: 340px;
      background-position: center center;
      background-size: cover;
    }

    &-name {
      display: block;
      margin: 24px 0 18px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 24px;
      font-weight: 500;
    }

    &-who {
      display: block;
      margin: 0 0 32px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 16px;
      font-weight: 500;
      line-height: 1.6;
    }

    &-quote {
      display: block;
      margin: 0 0 32px 0;
      opacity: 0.9;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.7;
    }

    &-subtitle {
      display: block;
      margin: 0 0 15px 0;
      opacity: 0.5;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
    }

    &-papers {
      display: block;
      position: relative;
      width: 100%;
    }

    &-paper {
      display: inline-block;
      position: relative;
      width: 100%;
      max-width: 120px;
      height: 120px;
      margin: 0 40px 10px 0;
      background-position: center center;
      background-size: cover;
      opacity: 0.7;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

.n-school-levels {
  display: block;
  position: relative;
  width: 100%;
  padding: 130px 0 10px 0;
  background: #e4e4e6;

  &__card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 80px 0;
    background-position: center center;
    background-size: cover;

    &-row {
      display: block;
      margin: 40px 0 0 0;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 625px;
      padding: 70px 115px 45px 65px;
      background: rgba(0, 0, 0, 0.3);
      color: #ffffff;
    }

    &-title {
      display: block;
      margin: 0 0 25px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 36px;
      font-weight: 500;
    }

    &-subtitle {
      display: block;
      margin: 0 0 15px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 25px;
      font-weight: 500;
    }

    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 18px;
      font-weight: 500;
      line-height: 1.75;
    }

    &-info {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.85;
    }

    &-button {
      display: inline-block;
      margin: 0 30px 5px 0;
      padding: 25px 44px;
      border: 1px solid #ffffff;
      background: transparent;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        border-color: #ffffff !important;
        background: #b47f63;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.n-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 100px 0;
  background: #181818;

  &__title {
    display: block;
    margin: 0 0 75px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 32px;
    font-weight: 500;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 0 65px 0;

    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      max-width: 70px;
      height: 60px;
      margin-bottom: 25px;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: block;
      margin: 0 0 22px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 18px;
      font-weight: 400;
    }

    &-text {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
    }
  }
}

.n-why {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 90px;
  background: #181818;

  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 90px;
    background: #181818;

    &:last-child {
      margin-bottom: 0;
    }

    &__image {
      display: block;
      width: 100%;
      height: 100%;
      min-height: 665px;
      background-position: center center;
      background-size: cover;
    }

    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px 40px;
      border: 1px solid #b47f63;
      text-align: center;
    }

    &__title {
      display: block;
      margin: 0 0 30px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 24px;
      font-weight: 500;
      line-height: 1.5;
    }

    &__subtitle {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
    }

    p {
      display: block;
      margin: 0 0 30px 0;
      opacity: 0.9;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.65;
    }
  }
}

.n-features-seo {
  display: block;
  position: relative;
  width: 100%;
  min-height: 760px;
  padding: 120px 0 20px 0;
  background: #e4e4e6 url('../images/features_seo_bg.png') no-repeat left 50vw top 30px;
  background-size: 550px auto;

  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #181818;
    font-family: "TT Norms";
    font-size: 36px;
    font-weight: 500;
    line-height: 1.33;
  }

  &-collapse {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 32px 0;

    &__header {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &_active {
        .n-features-seo-collapse__arrow {
          transform: rotate(180deg);
        }
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        .n-features-seo-collapse__title {
          color: #b47f63;
        }

        text-decoration: none;
      }
    }

    &__title {
      display: inline-block;
      margin: 0;
      color: #181818;
      font-family: "TT Norms";
      font-size: 18px;
      font-weight: 500;
      transition: all 0.2s ease-out;
    }

    &__arrow {
      display: inline-block;
      max-width: 10px;
      max-height: 10px;
      margin-right: 8px;
      transition: all 0.2s ease-out;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }

    &__content {
      display: none;
      position: relative;
      width: 100%;
      padding: 15px 0 5px 0;
      color: #181818;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.64;

      p {
        display: block;
        margin: 0 0 10px 0;
      }
    }
  }
}

.n-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 70px 0;
  background: #181818;

  &__title {
    display: block;
    margin: 0 0 60px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 32px;
    font-weight: 500;
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__column {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  &__form {
    display: block;
    position: relative;
    width: 100%;

    label {
      display: inline-block;
      max-width: 227px;
      margin: 0 0 6px 0;
      opacity: 0.5;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
    }

    input {
      display: inline-block;
      width: 227px;
      margin-right: 74px;
      margin-bottom: 35px;
      padding: 20px;
      border: 1px solid #ffffff;
      outline: none;
      background-color: #181818;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #b47f63;
      }
    }

    textarea {
      display: block;
      width: 525px;
      margin-right: 74px;
      padding: 20px;
      border: 1px solid #ffffff;
      outline: none;
      background-color: #181818;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #b47f63;
      }
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 23px 0 0 0;
    padding: 20px 28px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #b47f63;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    z-index: 1;

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
      color: #b47f63;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    max-width: 250px;
    margin: 15px 0 0 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }
}

.n-page-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 25px 0;
  background: #181818;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__column {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__row {
    display: inline-block;
    flex-flow: row wrap;
    align-items: center;
  }

  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 30px;
    font-weight: 700;
  }

  &__breadcrumps {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;

    li {
      display: inline-block;

      span {
        display: inline-block;
        margin: 0 5px;
      }

      a {
        display: inline-block;
        color: rgba(255, 255, 255, 0.5);
        font-family: "TT Norms";
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }

  &__basket {
    display: inline-block;
    position: relative;

    &-image {
      display: inline-block;
      max-width: 40px;
      max-height: 40px;
    }

    &-counter {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 22px;
      height: 22px;
      margin-top: -10px;
      margin-right: -10px;
      padding: 2px;
      border: 1px solid #ffffff;
      border-radius: 999rem;
      background-color: #181818;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      z-index: 1;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__phone {
    display: inline-block;
    margin: 0 0 0 75px;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #b47f63;
      text-decoration: none;
    }
  }
}

.n-good {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0;
  background: #e4e4e6;

  &__image {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 400px;

    &-info {
      display: flex;
      position: absolute;
      right: 100%;
      top: 30px;
      margin: 0;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;

      i {
        display: inline-block;
        margin-right: 4px;
        color: #b1331a;
      }
    }

    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__switch {
    display: inline-block;
    margin: 0 25px 0 0;

    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;

      &:checked+span {
        color: #1e1e1e;
        text-decoration: underline;
      }
    }

    span {
      display: inline-block;
      color: rgba(30, 30, 30, 0.5);
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      span {
        color: #b47f63;
      }

      text-decoration: none;
    }
  }

  &__counter {
    display: inline-flex;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 0 26px 0;

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input {
      display: inline-block;
      width: 100%;
      max-width: 40px;
      margin-left: -1px;
      padding: 6px 2px;
      border: 1px solid #cccccc;
      outline: none;
      background-color: #e4e4e6;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #b47f63;
      }
    }

    &-minus {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 30px;
      height: 30px;
      padding: 2px;
      border: 1px solid #cccccc;
      background-color: #e4e4e6;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #ffffff;
        text-decoration: none;
      }
    }

    &-plus {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 30px;
      height: 30px;
      margin-left: -1px;
      padding: 2px;
      border: 1px solid #cccccc;
      background-color: #e4e4e6;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__title {
    display: block;
    margin: 0 0 48px 0;
    color: #1e1e1e;
    font-family: "TT Norms";
    font-size: 30px;
    font-weight: 500;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 25px 0;
  }

  &__subtitle {
    display: inline-block;
    width: 100%;
    max-width: 105px;
    opacity: 0.5;
    color: #1e1e1e;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
  }

  &__oldprice {
    display: inline-block;
    margin: 0 25px 0 0;
    opacity: 0.5;
    color: #1e1e1e;
    font-family: "TT Norms";
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
  }

  &__price {
    display: inline-block;
    margin: 0;
    color: #1e1e1e;
    font-family: "TT Norms";
    font-size: 24px;
    font-weight: 500;
  }

  &__button {
    display: inline-block;
    margin: 0;
    padding: 16px 43px;
    border: 1px solid #b47f63;
    outline: none;
    background-color: #e4e4e6;
    color: #b47f63;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #ffffff;
      background: #b47f63;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.n-good-info {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 70px 0;
  background: #181818;

  &__card {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0 0 18px 0;

    &-subtitle {
      display: inline-block;
      width: 100%;
      max-width: 100px;
      margin: 0 5px 0 0;
      color: rgba(255, 255, 255, 0.5);
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
    }

    &-text {
      display: inline-block;
      margin: 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
    }

    &-progress {
      display: inline-block;
      width: 100%;
      max-width: 200px;
      height: 7px;
      margin-top: 6px;
      background: #181818;
      box-shadow: none;
    }

    progress::-webkit-progress-bar {
      height: 7px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background: #181818;
      box-shadow: none;
    }

    progress::-webkit-progress-value {
      height: 5px;
      background-color: #ffffff;
    }
  }

  &__how {
    display: block;
    position: relative;
    width: 100%;

    &-title {
      display: block;
      margin: 0 0 26px 0;
      opacity: 0.5;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
    }

    &-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
    }

    &-card {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 90px;
      margin: 0 0 30px 0;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        .n-good-info__how-card-title {
          color: #b47f63;
          text-decoration: none;
        }

        text-decoration: none;
      }

      &-image {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
        max-width: 50px;
        height: 40px;
        margin-bottom: 10px;

        img,
        svg {
          max-width: 100%;
          max-height: 100%;
        }
      }

      &-title {
        display: block;
        margin: 0;
        color: #ffffff;
        font-family: "TT Norms";
        font-size: 14px;
        font-weight: 400;
        text-decoration: underline;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.n-good-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 40px 0;
  background: #e4e4e6;

  &__content {
    display: block;
    width: 100%;
    max-width: 680px;
  }

  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #181818;
    font-family: "TT Norms";
    font-size: 32px;
    font-weight: 500;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 40px 0;
    color: #181818;
    font-family: "TT Norms";
    font-weight: 500;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 12px;
  }

  color: #181818;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;

  p {
    display: block;
    margin: 0 0 30px 0;
    color: #181818;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.65;
  }

  a {
    color: #b47f63;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #181818;
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 35px;
  }

  blockquote {
    display: block;
    width: 100%;
    margin: 0 0 50px 0;
    padding: 27px 30px;
    border: 1px solid rgba(180, 127, 99, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    color: #181818;
    font-family: "TT Norms";
    font-size: 14px;
    font-style: italic;
    line-height: 1.65;
  }

  b,
  strong {
    font-weight: 500;
  }

  ul {
    display: block;
    position: relative;
    margin: 14px 0 14px 0;
    padding: 0;
    list-style: none;
    color: #181818;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;

    li {
      display: block;
      position: relative;
      margin-bottom: 6px;
      padding-left: 30px;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        left: 15px;
        top: 0;
        color: #181818;
        font-family: "TT Norms";
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .table thead th {
    border: 1px solid #181818;
    font-weight: 500;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #181818;
  }

  .table th,
  .table td {
    padding: 18px 20px;
    color: #181818;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
  }

  .table {
    margin-bottom: 30px;
  }
}

.n-more {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 20px 0;
  background: #e4e4e6;

  &__title {
    display: block;
    margin: 0 0 90px 0;
    color: #181818;
    font-family: "TT Norms";
    font-size: 32px;
    font-weight: 500;
  }

  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 0 60px 0;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: calc(100% + 60px);
      height: calc(100% + 60px);
      margin-left: -30px;
      margin-top: -30px;
      background: transparent;
      border: 1px solid rgba(24, 24, 24, 0.5);
      opacity: 0;
      pointer-events: none;
      z-index: 2;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      &:after {
        opacity: 1;
      }

      text-decoration: none;
    }

    &__image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 230px;
      margin-bottom: 10px;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }

      &-info {
        display: flex;
        align-items: center;
        position: absolute;
        top: 25px;
        right: 0;
        color: #1e1e1e;
        font-family: "TT Norms";
        font-size: 14px;
        font-weight: 400;
        z-index: 1;

        i {
          display: inline-block;
          margin-right: 4px;
          font-size: 14px;
        }

        &_special {
          i {
            color: #b1331a;
          }
        }

        &_hot {
          i {
            color: #ff7200;
          }
        }

        &_new {
          i {
            color: #ffe400;
          }
        }

        &_home {
          i {
            color: #b47f63;
          }
        }
      }
    }

    &__title {
      display: block;
      width: 100%;
      margin: 0 0 18px 0;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 30px;
      font-weight: 500;
    }

    &__prices {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
      margin: 0 0 24px 0;
    }

    &__progress {
      display: inline-block;
      width: 100%;
      max-width: 190px;
      height: 7px;
      margin-top: 6px;
      background: #e4e4e6;
      box-shadow: none;
    }

    progress::-webkit-progress-bar {
      height: 7px;
      border: 1px solid rgba(30, 30, 30, 0.5);
      background: #e4e4e6;
      box-shadow: none;
    }

    progress::-webkit-progress-value {
      height: 5px;
      background-color: #1e1e1e;
    }

    &__oldprice {
      display: inline-block;
      margin: 0 25px 0 0;
      opacity: 0.5;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 18px;
      font-weight: 500;
      text-decoration: line-through;
    }

    &__price {
      display: inline-block;
      margin: 0;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 24px;
      font-weight: 500;
    }

    &__row {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      width: 100%;
      margin: 0 0 12px 0;
    }

    &__subtitle {
      display: inline-block;
      width: 100px;
      flex: 0 0 100px;
      margin: 0 5px 0 0;
      opacity: 0.5;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
    }

    &__text {
      display: inline-block;
      margin: 0;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
    }
  }
}

.n-filter {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0;
  background: #e4e4e6;

  &__title {
    display: flex;
    align-items: center;
    margin: 0 0 48px 0;
    color: #1e1e1e;
    font-family: "TT Norms";
    font-size: 30px;
    font-weight: 500;

    &-arrow {
      display: inline-block;
      margin-left: 15px;
      transition: all 0.2s ease-out;
    }

    &_active {
      .n-filter__title-arrow {
        transform: rotate(180deg);
      }
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #b47f63;
      text-decoration: none;
    }
  }

  &__column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__subtitle {
    display: block;
    margin: 0 0 22px 0;
    opacity: 0.5;
    color: #1e1e1e;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
  }

  &__checkbox {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;

    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;

      &:checked+span {
        &:before {
          background: url('../images/filter_checkbox_checked.svg') no-repeat center center !important;
        }
      }
    }

    span {
      display: block;
      position: relative;
      width: 100%;
      padding-left: 20px;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        left: 0;
        top: 3px;
        background: url('../images/filter_checkbox.svg') no-repeat center center;
        background-size: contain;
      }
    }
  }

  &__radio {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;

    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;

      &:checked+span {
        &:before {
          background: url('../images/filter_radio_checked.svg') no-repeat center center !important;
        }
      }
    }

    span {
      display: block;
      position: relative;
      width: 100%;
      padding-left: 20px;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        left: 0;
        top: 3px;
        background: url('../images/filter_radio.svg') no-repeat center center;
        background-size: contain;
      }
    }
  }

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  &__button {
    display: inline-block;
    padding: 26px 72px;
    border: 1px solid #b47f63;
    outline: none;
    background: transparent;
    color: #1e1e1e;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #ffffff;
      background: #b47f63;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__clear {
    display: inline-block;
    margin: 35px 0 0 0;
    opacity: 0.5;
    color: #1e1e1e;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #b47f63;
      text-decoration: none;
    }
  }
}

.n-goods-big {
  display: block;
  position: relative;
  width: 100%;

  .swiper-button-prev,
  .swiper-button-next {
    width: 21px;
    height: 40px;
  }

  .swiper-button-prev {
    left: calc((100vw - 1200px) / 2 - 70px);
    background: url('../images/icon_carousel_prev.svg') no-repeat center center;
  }

  .swiper-button-next {
    right: calc((100vw - 1200px) / 2 - 70px);
    background: url('../images/icon_carousel_next.svg') no-repeat center center;
  }
}

.n-basket {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 60px 0;
  background: #e4e4e6;

  &__header {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.4);
    color: #1e1e1e;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
  }

  &-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid rgba(151, 151, 151, 0.4);

    &__image {
      display: flex;
      width: 100%;
      max-width: 150px;
      height: 150px;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__title {
      display: block;
      margin: 0 0 20px 0;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 30px;
      font-weight: 500;
    }

    &__row {
      display: block;
      margin: 25px 0 0 0;
    }

    &__subtitle {
      display: inline-block;
      width: 100px;
      margin: 0 5px 0 0;
      opacity: 0.5;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
    }

    &__info {
      display: inline-block;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
    }

    &__price {
      display: block;
      margin: 20px 0;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 24px;
      font-weight: 500;
    }

    &__summ {
      display: block;
      margin: 20px 0;
      color: #1e1e1e;
      font-family: "TT Norms";
      font-size: 24px;
      font-weight: 500;
    }

    &__delete {
      display: block;
      padding: 10px;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(0.95);
        text-decoration: none;
      }
    }

    &__counter {
      display: inline-flex;
      justify-content: flex-start;
      align-items: stretch;
      margin: 0;

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input {
        display: inline-block;
        width: 100%;
        max-width: 40px;
        margin-left: -1px;
        padding: 6px 2px;
        border: 1px solid #cccccc;
        outline: none;
        background-color: #e4e4e6;
        color: #1e1e1e;
        font-family: "TT Norms";
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        z-index: 1;
        transition: all 0.2s ease-out;

        &:focus {
          border-color: #b47f63;
        }
      }

      &-minus {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 30px;
        height: 30px;
        padding: 2px;
        border: 1px solid #cccccc;
        background-color: #e4e4e6;

        img,
        svg {
          max-width: 100%;
          max-height: 100%;
        }

        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          background: #ffffff;
          text-decoration: none;
        }
      }

      &-plus {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: -1px;
        padding: 2px;
        border: 1px solid #cccccc;
        background-color: #e4e4e6;

        img,
        svg {
          max-width: 100%;
          max-height: 100%;
        }

        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          background: #ffffff;
          text-decoration: none;
        }
      }
    }
  }

  &__final {
    display: block;
    width: 100%;
    margin: 35px 0 20px 0;
    color: #1e1e1e;
    font-family: "TT Norms";
    font-size: 30px;
    font-weight: 500;
  }

  &__clear {
    display: inline-block;
    margin: 5px 0 0 0;
    padding: 25px 75px;
    border: 1px solid #b47f63;
    outline: none;
    background-color: #e4e4e6;
    color: #1e1e1e;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #ffffff;
      background: #b47f63;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.n-basket-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 30px 0;
  background: #181818;

  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 32px;
    font-weight: 500;
  }

  &__subtitle {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 20px;
    font-weight: 500;
  }

  &__text {
    display: block;
    margin: 0 0 20px 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
  }

  &__link {
    display: inline;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #b47f63;
      text-decoration: none;
    }
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__column {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  &__form {
    display: block;
    position: relative;
    width: 100%;

    label {
      display: inline-block;
      max-width: 452px;
      margin: 0 0 6px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
    }

    input {
      display: inline-block;
      width: 452px;
      margin-bottom: 35px;
      padding: 20px;
      border: 1px solid #ffffff;
      outline: none;
      background-color: #181818;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #b47f63;
      }
    }

    textarea {
      display: block;
      width: 452px;
      min-height: 173px;
      margin-bottom: 35px;
      margin-right: 74px;
      padding: 20px;
      border: 1px solid #ffffff;
      outline: none;
      background-color: #181818;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #b47f63;
      }
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 18px 28px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #b47f63;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    z-index: 1;

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
      color: #b47f63;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    max-width: 290px;
    margin: 0;
    padding-right: 25px;
    opacity: 0.5;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    text-align: right;
  }

  &__checkbox {
    display: flex !important;
    align-items: flex-start !important;
    position: relative;
    width: 100% !important;
    margin: 0 !important;

    input {
      width: 0 !important;
      height: 0;
      overflow: hidden;
      opacity: 0;

      &:checked+span {
        &:before {
          background: url('../images/form_checkbox_checked.png') no-repeat center center !important;
        }
      }
    }

    span {
      display: block;
      position: relative;
      width: 100%;
      padding-left: 40px;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 16px;
      font-weight: 400;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        left: 0;
        top: 2px;
        background: url('../images/form_checkbox.png') no-repeat center center;
        background-size: contain;
      }
    }
  }

  &__subinfo {
    display: block;
    margin: 0 0 10px 0;
    padding-left: 40px;
    opacity: 0.5;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;

    img,
    svg {
      display: inline-block;
      max-width: 17px;
      max-height: 17px;
      margin-right: 5px;
      margin-top: -2px;
    }
  }

  &__pay-method {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 16px;
    font-weight: 400;

    .n-basket-form__subinfo {
      margin-top: 6px;
      padding: 0;
    }
  }

  &__hr {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1px;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.5;
  }
}

.n-contacts-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 5px 0;
  background: #181818;

  &__title {
    display: block;
    margin: 0 0 65px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 32px;
    font-weight: 500;
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  &__form {
    display: block;
    position: relative;
    width: 100%;

    label {
      display: inline-block;
      max-width: 452px;
      margin: 0 0 6px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
    }

    input {
      display: inline-block;
      width: 227px;
      margin-bottom: 35px;
      padding: 20px;
      border: 1px solid #ffffff;
      outline: none;
      background-color: #181818;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #b47f63;
      }
    }

    textarea {
      display: block;
      width: 100%;
      min-height: 173px;
      margin-right: 74px;
      padding: 20px;
      border: 1px solid #ffffff;
      outline: none;
      background-color: #181818;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #b47f63;
      }
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 20px 63px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #b47f63;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
      color: #b47f63;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    max-width: 330px;
    margin: 0;
    margin-top: -6px;
    opacity: 0.5;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
  }

  &__select {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 227px;
    border: 1px solid #ffffff;
    background-color: #181818;

    &:after {
      display: block;
      position: absolute;
      content: '';
      right: 24px;
      top: 26px;
      width: 13px;
      height: 7px;
      background: url('../images/icon_select.png') no-repeat center center;
      background-size: contain;
      z-index: 1;
    }

    select {
      background: #181818;
      -webkit-appearance: none;
      width: 100%;
      padding: 20px;
      padding-right: 45px;
      border: 0;
      color: rgba(255, 255, 255, 0.5);
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.n-blog {
  display: block;
  width: 100%;
  padding: 70px 0 90px 0;
  background: #181818;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 650px;
    margin-bottom: 70px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      text-decoration: none;

      .n-blog-card__link:after {
        margin-left: 7px;
        opacity: 1;
      }
    }

    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 200px;
      background-position: center center;
      background-size: cover;
    }

    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      flex: 1 1 auto;
      padding: 45px 75px 65px 75px;
      border: 1px solid #b47f63;
      background-color: #181818;
    }

    &__date {
      display: block;
      margin: 0 0 22px 0;
      opacity: 0.5;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 12px;
      font-weight: 500;
    }

    &__title {
      display: block;
      height: 58px;
      margin: 0 0 18px 0;
      overflow: hidden;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 22px;
      font-weight: 500;
      line-height: 1.35;
    }

    &__text {
      display: block;
      overflow: hidden;
      margin: 0 0 25px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.65;
    }

    &__link {
      display: inline-block;
      position: relative;
      margin: 0;
      color: #b47f63;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s ease-out;

      &:after {
        display: block;
        position: absolute;
        content: '';
        left: 100%;
        top: 3px;
        width: 27px;
        height: 11px;
        margin-left: 17px;
        opacity: 0;
        background: url('../images/blog_arrow.png') no-repeat center center;
        background-size: contain;
        transition: all 0.2s ease-out;
      }
    }
  }

  &-another-card {
    display: inline-flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-bottom: 70px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      text-decoration: none;

      .n-blog-another-card__link:after {
        margin-left: 7px;
        opacity: 1;
      }
    }

    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 650px;
      flex: 1 1 auto;
      padding: 45px 75px 65px 75px;
      background: rgba(24, 24, 24, 0.5);
    }

    &__date {
      display: block;
      margin: 0 0 22px 0;
      opacity: 0.5;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 12px;
      font-weight: 500;
    }

    &__title {
      display: block;
      height: 58px;
      margin: 0 0 18px 0;
      overflow: hidden;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 22px;
      font-weight: 500;
      line-height: 1.35;
    }

    &__text {
      display: block;
      height: 69px;
      overflow: hidden;
      margin: 0 0 25px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.65;
    }

    &__link {
      display: inline-block;
      position: relative;
      margin: 0;
      color: #b47f63;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s ease-out;

      &:after {
        display: block;
        position: absolute;
        content: '';
        left: 100%;
        top: 3px;
        width: 27px;
        height: 11px;
        margin-left: 17px;
        opacity: 0;
        background: url('../images/blog_arrow.png') no-repeat center center;
        background-size: contain;
        transition: all 0.2s ease-out;
      }
    }
  }

  &-big-card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 70px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      text-decoration: none;

      .n-blog-big-card__link:after {
        margin-left: 7px;
        opacity: 1;
      }
    }

    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 350px;
      padding: 45px 75px 65px 75px;
      background: rgba(24, 24, 24, 0.5);
    }

    &__date {
      display: block;
      margin: 0 0 22px 0;
      opacity: 0.5;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 12px;
      font-weight: 500;
    }

    &__title {
      display: block;
      height: 29px;
      margin: 0 0 18px 0;
      overflow: hidden;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 22px;
      font-weight: 500;
      line-height: 1.35;
    }

    &__text {
      display: block;
      height: 69px;
      overflow: hidden;
      margin: 0 0 25px 0;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.65;
    }

    &__link {
      display: inline-block;
      position: relative;
      margin: 0;
      color: #b47f63;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s ease-out;

      &:after {
        display: block;
        position: absolute;
        content: '';
        left: 100%;
        top: 3px;
        width: 27px;
        height: 11px;
        margin-left: 17px;
        opacity: 0;
        background: url('../images/blog_arrow.png') no-repeat center center;
        background-size: contain;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.n-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  &_active {
    a {
      border-color: #ffffff !important;
      background: #ffffff !important;
      color: #b47f63 !important;
    }
  }

  li {
    display: inline-block;

    a {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 58px;
      height: 58px;
      margin-right: 30px;
      padding: 4px;
      border: 1px solid #b47f63;
      background: transparent;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(0.95);
        color: #ffffff;
        text-decoration: none;
      }

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.n-contacts {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 30px 0;

  &__subtitle {
    display: block;
    margin: 0 0 34px 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.55;
  }

  &__link {
    display: block;
    margin: 5px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.5;
      color: #ffffff;
      text-decoration: none;
    }
  }

  p {
    display: block;
    margin: 0 0 24px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.55;
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 60px 0 0 0;
    padding: 16px 40px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #b47f63;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
      color: #b47f63;
      text-decoration: none;
    }
  }
}

.n-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
    padding: 65px 50px;
    background-color: #181818;
  }

  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 32px;
    font-weight: 500;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
  }

  input {
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
    padding: 20px;
    border: 1px solid #ffffff;
    outline: none;
    background-color: #181818;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-out;

    &:focus {
      border-color: #b47f63;
    }
  }

  textarea {
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid #ffffff;
    outline: none;
    background-color: #181818;
    color: #ffffff;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-out;

    &:focus {
      border-color: #b47f63;
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 30px 0 0 0;
    padding: 20px 28px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #b47f63;
    font-family: "TT Norms";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    z-index: 1;

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
      color: #b47f63;
      text-decoration: none;
    }
  }
}

.circle_wrapp {
  height: 22px;
  margin-right: 15px;
}

.circle_count {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.circle {
  fill: none;
  stroke-width: 1px;
  stroke: #fff;
  stroke-dasharray: 1000;
  stroke-dashoffset: 900;
}

#circlebg {
  fill: none;
  stroke-width: 1px;
  stroke: #616161;
  stroke-dasharray: 1000;
  stroke-dashoffset: 938;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }

  .n-home-card {
    height: 100vh !important;
    padding: 0 !important;
    overflow: hidden !important;
  }

  .n-basket-form>.container {
    max-width: 1060px;
  }
  .franch_3_slider_wrapp {
    height: 345px;
    overflow: hidden;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .n-header {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 10px 15px;
  }

  .n-header__double {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .n-header__toggle {
    margin: 15px;
  }

  .n-header__social {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    li {
      a {
        padding: 10px;
      }
    }
  }

  .n-page-header {
    padding: 20px 0;
  }

  .n-page-header__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 1200px) {

  .n-page-header {
    padding: 0 0 20px 0;
  }

  .n-page-header__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }

  .n-header {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 10px 15px;
  }

  .n-header__double {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .n-header__toggle {
    margin: 15px;
  }

  .n-header__social {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    li {
      a {
        padding: 10px;
      }
    }
  }

  .n-nav {
    padding: 100px 15px 20px 15px;
    background: rgba(24, 24, 24, 0.99);
  }

  .n-nav__links li a {
    padding: 10px 0;
    font-size: 22px;
  }

  .n-nav__hr {
    margin: 15px 0;
  }

  .n-home-card__title {
    margin-bottom: 30px;
    font-size: 32px;
  }

  .n-home-title__this {
    font-size: 32px;
  }

  .n-home-card__content {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .n-footer {
    padding: 40px 0;
  }

  .n-footer__subtitle {
    margin: 30px 0;
  }

  .n-footer__hr {
    margin: 30px 0;
  }

  .n-school-steps {
    padding: 40px 0 20px 0;
  }

  .n-home-card {
    height: auto !important;
    margin-bottom: 20px !important;
    padding: 0 !important;
  }

  .n-school-steps__card-number {
    margin-bottom: 15px;
  }

  .n-school-info {
    padding: 40px 0;
    font-size: 20px;
  }

  .n-teacher {
    padding: 40px 0;
  }

  .n-teacher__title {
    margin-bottom: 25px;
    font-size: 32px;
  }

  .n-teacher__card-paper {
    margin-right: 10px;
  }

  .n-school-levels {
    padding: 40px 0 20px 0;
  }

  .n-school-levels__card {
    margin-bottom: 20px;
  }

  .n-school-levels__card-content {
    padding: 30px 15px;
  }

  .n-school-levels__card-title {
    font-size: 32px;
  }

  .n-school-levels__card-text {
    margin-bottom: 30px;
  }

  .n-school-levels__card-subtitle {
    font-size: 20px;
  }

  .n-school-levels__card-button {
    width: 100%;
    margin: 0 auto 10px auto;
  }

  .n-form__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .n-form__form input {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .n-form__form textarea {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .n-form__column {
    width: 100%;
  }

  .n-form {
    padding: 40px 0 20px 0;
  }

  .n-form__title {
    margin-bottom: 30px;
  }

  .n-features-seo {
    padding: 40px 0;
    background: #e4e4e6;
  }

  .n-features-seo__title {
    margin-bottom: 30px;
    font-size: 32px;
  }

  .n-why {
    padding-bottom: 20px;
  }

  .n-why-card {
    margin-bottom: 20px;
  }

  .n-features {
    padding: 40px 0 20px 0;
  }

  .n-features__card {
    margin-bottom: 30px;
  }

  .n-features__title {
    margin-bottom: 30px;
  }

  .n-good {
    padding: 30px 0;
  }

  .n-good__image-info {
    right: auto;
    left: 0;
    top: 0;
  }

  .n-good__image {
    max-width: 300px;
    height: 300px;
  }

  .n-good__title {
    margin-bottom: 25px;
  }

  .n-good__switch {
    margin-right: 15px;
  }

  .n-good-info__how-cards {
    justify-content: space-around;
  }

  .n-good-seo {
    padding: 40px 0;
  }

  .n-good-seo h1,
  .n-good-seo h2,
  .n-good-seo h3,
  .n-good-seo h4,
  .n-good-seo h5,
  .n-good-seo h6 {
    margin-bottom: 20px;
  }

  .n-good-seo .table th,
  .n-good-seo .table td {
    padding: 6px 4px;
  }

  .n-more {
    padding: 20px 0;
  }

  .n-more__title {
    margin-bottom: 30px;
  }

  .n-filter {
    padding: 20px 0;
  }

  .n-filter__clear {
    margin-top: 15px;
  }

  .n-filter__button {
    margin-top: 20px;
    padding: 20px 60px;
  }

  .n-filter__title {
    margin-bottom: 20px;
  }

  .n-basket-form__form input {
    width: 100%;
  }

  .n-basket-form__form textarea {
    width: 100%;
    margin-bottom: 25px;
  }

  .n-basket-form__column {
    width: 100%;
  }

  .n-basket-form {
    padding-top: 40px;
  }

  .n-basket {
    padding: 40px 0;
  }

  .n-basket-card {
    text-align: center;
  }

  .n-basket-card__image {
    margin: 0 auto;
  }

  .n-basket__header {
    display: none;
  }

  .n-blog-card__content {
    padding: 20px;
  }

  .n-blog-another-card {
    margin-bottom: 30px;
  }

  .n-blog-another-card__content {
    min-height: auto;
    padding: 20px;
  }

  .n-blog-big-card__content {
    min-height: auto;
  }

  .n-blog-card {
    min-height: auto;
    margin-bottom: 30px;
  }

  .n-blog-big-card {
    margin-bottom: 30px;
  }

  .n-blog-big-card__content {
    padding: 20px;
  }

  .n-blog {
    padding: 40px 0;
  }

  .n-pagination li a {
    width: 50px;
    height: 50px;
    margin: 0 5px 5px 0;
  }

  .n-contacts {
    padding: 40px 0;
  }

  .n-contacts__button {
    margin-top: 20px;
  }

  .n-contacts-form {
    padding: 40px 0;
  }

  .n-contacts-form__button {
    margin: 20px 0;
  }

  .n-contacts-form__select {
    margin-bottom: 35px;
  }

  .n-contacts-form__title {
    margin-bottom: 20px;
  }

  .n-modal__content {
    padding: 50px 20px 20px 20px;
  }

  .n-modal__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .n-school__info {
    padding: 20px 50px 20px 20px;
  }

  .n-school__info-title {
    font-size: 28px;
  }

  .n-school__form {
    padding: 20px 50px 20px 20px;
  }

  .n-school__info-title {
    margin-top: 30px;
    margin-bottom: 30px !important;
  }

  .n-school__close {
    top: 10px;
    right: 10px;
  }

  .n-blog__cards {
    justify-content: space-around;
  }

  .n-blog-big-card {
    max-width: 450px;
  }

  .n-pagination {
    justify-content: center;
  }

  .n-basket-form__subtitle {
    margin: 30px 0 20px 0;
  }

  .n-basket-form__title {
    margin-bottom: 10px;
  }
  .n-contacts-form__form input {
    width: 100%;
  }
  .n-contacts-form__select {
    max-width: 100%;
  }
  .n-page-header__phone {
    margin-left: 20px;
  }
  .franch_nav {
    bottom: 0;
  }
  @media only screen and (max-width: 580px) {
    .sales_header .video {
      padding-top: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .n-why-card__image {
    min-height: 300px;
    max-height: 300px;
  }
}